{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock, Paper, Scissors Game</title>
    <link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Rock, Paper, Scissors Game</h1>
        <p style="font-family: Bahnschrift">You chose: <span><b>{{ player_choice|upper }}</b></span></p>
        <p style="font-family: Bahnschrift">Computer chose: <span><b>{{ computer_choice|upper }}</b></span></p>
        <p style="font-family: Bahnschrift; color: mediumvioletred">{{ result|upper }}</p>
        <a href="{% url 'home' %}">Play Again</a>
    </div>
</body>
</html>
